<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">

<div class="container">
    <h1>Clientes</h1>
    <br>
    <div class="container-md-6 mx-auto">

        <form class="row g-3 needs-validation" method="POST"
            action="/admin/customers" novalidate>

            <!-- ! ID -->
            <div class="col-md-4" [hidden]="true">
                <label for="id" class="form-label">ID</label>
                <input type="text" class="form-control" id="id"
                    maxlength="25" minlength="3" name="id" [(ngModel)]="cliente.id"
                    onkeypress="return check(event)" required>
                <div class="invalid-feedback">
                    Ingresa un nombre correcto
                </div>
            </div>

            <div class="col-md-4">
                <label for="first_name" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="first_name"
                    maxlength="25" minlength="3" name="first_name" [(ngModel)]="cliente.first_name"
                    onkeypress="return check(event)" required>
                <div class="invalid-feedback">
                    Ingresa un nombre correcto
                </div>
            </div>

            <div class="col-md-4">
                <label for="last_name" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="last_name"
                    maxlength="30" minlength="5" name="last_name"
                    onkeypress="return check(event)" required [(ngModel)]="cliente.last_name">
                <div class="invalid-feedback">
                    Ingresa un apellido correcto
                </div>
            </div>

            <div class="col-md-8">
                <label for="phone" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="phone"
                    maxlength="12" minlength="10" name="phone"
                    onkeypress="return checkPhone(event) " required [(ngModel)]="cliente.phone">
                <div class="invalid-feedback">
                    Ingresa un número teléfonico valido
                </div>
            </div>

            <div class="col-6">
                @switch (action) {
                    @case ("agregar") {
                        <button class="btn btn-primary" type="submit" (click)="guardar()">Guardar</button>
                    }
                    @case ("modificar") {
                        <button class="btn btn-primary" type="submit" (click)="actionModificar(cliente.id)">Modificar</button>
                    }
                }
            </div>
        </form>
    </div>

<br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Telefono</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
            </tr>
        </thead>
        <tbody>
            @for (cliente of clientes.customers; track cliente.id){
                <tr>
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.first_name}}</td>
                    <td>{{cliente.last_name}}</td>
                    <td>{{cliente.phone}}</td>
                    <td><a class="btn btn-primary" (click)="modificar(cliente.id, cliente.first_name, cliente.last_name, cliente.phone)">Editar</a></td>
                    <td><a class="btn btn-primary" (click)="actionEliminar(cliente.id)">Borrar</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>
