
<br><br>
<div class="container">


Nombre: <input type="text"[(ngModel)]="empleado.nombre"><br>
Ap Paterno: <input type="text"[(ngModel)]="empleado.ap_paterno"><br>
Ap Materno: <input type="text"[(ngModel)]="empleado.ap_materno"><br>
Telefono: <input type="text"[(ngModel)]="empleado.telefono"><br>
Email: <input type="email"[(ngModel)]="empleado.email"><br>
Fec. Nacimiento: <input type="date"[(ngModel)]="empleado.fecha_nac"><br>
RFC: <input type="text"[(ngModel)]="empleado.RFC"><br>
Dirección: <input type="text"[(ngModel)]="empleado.direccion"><br>
Puesto: <input type="text"[(ngModel)]="empleado.puesto"><br>
Sueldo: <input type="text"[(ngModel)]="empleado.sueldo"><br>

<br><br>
<input type="button" value="Guardar" (click)="guardar()">
<input type="button" value="Ver empleados" (click)="verEmpleados()">
<br><br>

<table>
    <tr>
        <th>NOMBRE</th>
        <th>AP. PATERNO</th>
        <th>AP. MATERNO</th>
        <th>TELÉFONO</th>
        <th>EMAIL</th>
        <th>FEC. NACIMIENTO</th>
        <th>RFC</th>
        <th>DIRECCIÓN</th>
        <th>SUELDO</th>
        <th>PUESTO</th>
    </tr>
    <tr *ngFor="let emp of empleados |async">
        <td>{{emp.nombre}}</td>
        <td>{{emp.ap_paterno}}</td>
        <td>{{emp.ap_materno}}</td>
        <td>{{emp.telefono}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.fecha_nac}}</td>
        <td>{{emp.RFC}}</td>
        <td>{{emp.direccion}}</td>
        <td>{{emp.sueldo}}</td>
        <td>{{emp.puesto}}</td>
    </tr>
</table>
</div>