

<nav class="navbar navbar-expand-lg  acomodo">
    <div class="container-fluid btn arriba">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item ">
                    <a href="" class="nav-link active" routerLink="dashboard">Inicio</a></li>
                <li class="nav-item">
                    <a href="" class="nav-link active" routerLink="clientes">Clientes</a></li>
                <li class="nav-item">
                    <a href="" class="nav-link active" routerLink="productos">Productos</a></li>
                <li class="nav-item">
                    <a href="" class="nav-link active" routerLink="iniciosesion">Inicio Sesión</a></li>


            </ul>
        </div>
    </div>
</nav>

<br>
